{
  "plugins": [
    "react-require",
    ["module-resolver", {
      "alias": {
        "@": "./src"
      }
    }]
  ],
  "presets": [
    [
      "gatsby",
      {
        "targets": {}
      }
    ]
  ]
}
